

body {
    background-image: url(notebook_paper_image.jpg);
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    font-family: 'Caveat', cursive;
}
h1 {
    color:black;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-size: 65px;
    margin-bottom: -5px;
}
form {
    
    height: 100px;
    width: 500px;
}
 #button, #input {
     
     justify-content: center;
     

 }
 #input {
     width: 100%;
     height: 50%;    
     word-break: keep-all; 
     text-align: center;  
     font-family: 'Caveat', cursive;
     font-size: 20px;
     color:black;    
     margin: 25px 0px;
     border: 0;
     border-radius: 15px;
     box-shadow: -1px 2px 11px 15px rgba(0,0,0,0.34);
     
    }
#input:focus {
    outline: none;
}
 
 #input::placeholder {
     color: black;
     text-align: center;   
     font-family: 'Caveat', cursive;
     font-size: 20px;
 }
 #button {
     text-overflow:clip;
     width: 50%;
     border: 0px;
     border-radius: 15px;
     height: 50px;
     background-color: teal;     
     font-size: 20px;
     font-family: 'Courier New', Courier, monospace;
     margin-left: 140px;
     box-shadow:0 0 15px 4px rgba(0,0,0,0.06);

 }
 #button:hover {
     transform: scale(1.1);
 }
 p {
    color:black;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-size: 20px;
    margin-bottom: -5px;
 }

